label.address > input {
  width: 30em;
  margin-left: 2em;
}
label.address > span.ens {
  display: block;
}
label > input, label > span, label + span {
  font-family: monospace;
}

input[type=text]:read-only {
  background: lightgrey;
  border-style: solid;
}

span.ens {
  color: darkorange;
  width: 10em;
}

input:invalid {
  border: dashed 1px red;
}

div.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40em;
  margin: auto;
}

div.inputs > div {
  display: flex;
}

div.inputs label {
  margin: auto;
  font-family: monospace;
}

div.inputs input[type=button] {
  width: 100%;
  margin: auto;
}

label.fee > input {
  width: 8em;
}

span.rocketSplit::before {
  content: 'RocketSplit';
}
span.rocketSplit {
  color: darkgreen;
  display: inline flow-root;
}
span.notRocketSplit::before {
  content: 'Not RocketSplit';
}
span.notRocketSplit {
  color: darkred;
}
span.rocketSplit > span {
  display: block;
}
.hidden, div.hidden {
  display: none;
}
