body {
  background-color: #ffbc71;
  background-image: url(https://stake.rocketpool.net/assets/bg-new-5e43070a.webp);
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background: #0f172acc;
  border-bottom: solid 1px #ccc;
  color: white;
}


section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  margin: 30px;
  padding: 30px;
  border-radius: 0.375rem;
  background-color: rgba(20,20,20,.1);
}

label.address > input {
  width: 30em;
  margin-left: 2em;
}
label.address > span.ens {
  display: block;
}
label > input, label > span, label + span {
  font-family: monospace;
}

input[type=text]:read-only {
  background: lightgrey;
  border-style: solid;
}

input[type=button] {
  border: none;
  background: #0f172a;
  color: white;
  border-radius: .375rem;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

span.ens {
  color: darkorange;
  width: 10em;
}

input:invalid {
  border: dashed 1px red;
}

div.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40em;
  margin: auto;
}

div.inputs > div {
  display: flex;
}

div.inputs label {
  margin: auto;
  font-family: monospace;
}

div.inputs input[type=button] {
  width: 100%;
  margin: auto;
}

div.inputs input {
  padding: 10px;
  margin: 5px 10px;
}

label.fee > input {
  width: 8em;
}

span.rocketSplit::before {
  content: 'RocketSplit';
}
span.rocketSplit {
  color: darkgreen;
  display: inline flow-root;
}
span.notRocketSplit::before {
  content: 'Not RocketSplit';
}
span.notRocketSplit {
  color: darkred;
}
span.rocketSplit > span {
  display: block;
}
.hidden, div.hidden {
  display: none;
}
